body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, main, footer,marquee,head {
    padding: 20px;
    text-align: center;
    background-color: #a59b9b;
}


.product {
    margin-top: 50px;
    background-color: #a59b9b;
}

footer {
    background-color: #a59b9b;
    
}

input, textarea {
      display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    float: left;
    clear: right;
    width: 1px; 
    text-align: left;
    margin-left: 10px; 
}

input[type="submit"], input[type="reset"] {
    background-color: #c2fbd7;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #8eddcc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1, h2 {
    color: #333;
}

.button-33 {
    background-color: #c2fbd7;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.button-33:hover {
    background-color: #8eddcc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
